<!-- about me page starts -->
<div class="about_me">
    <div class="container">
        <div class="row">
            <div class="about_me_contact col-md-6">
                <div class="about_me_image">
                    <img src="../images/my_image.jpg" alt="About Me" />
                    <div class="about_me_designation">
                        <p>Rajneesh Mishra</p>
                        <p>Software Engineer</p>
                        <p>Newgen Software Technologies</p>
                    </div>
                </div>
                <div class="about_me_introduction">
                    <p>I am the software Engineer working in Newgen Software. My carrer started with the web appliacatin development. I have worked on HTML5, CSS3, AngularJs, SharePoint, Bootstrap, Javascript. Thats all with by experience. I am as a person
                        loves to talk about the technologies. I wanted to have the joy of creating something that world can see. This is my first step towards it.
                    </p>
                </div>
            </div>
            <div class="about_the_blog col-md-6">
                <div class="about_me_image">
                    <img src="../images/logo.png" alt="About the blog" />
                    <div class="about_me_designation">
                        <p>LearnWebTech</p>
                        <p>Platform to Learn and Teach</p>
                    </div>
                </div>
                <div class="about_me_introduction">
                    <p>I always wanted to create the something that have the tag "Created by Rajneesh Mishra". But the idea behind creating the blog was to provide a platform where one can even learn and at the same time sharing the experience with others
                        so that they can learn from you as well. Lets learn and teach. Lets grow as an individual having some impact on the society.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonilas">
    <h2>Testimonials</h2>
    <div class="heading_border"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 testimonials_content">
                <div class="testimonial_image">
                    <img src="../images/anil_sir.jpg" alt="Anil Singh" />
                </div>
                <div class="testimonial_text">
                    <p>Rajneesh is very good guy. He is quite genuine and do what he feels to do. He takes wrok very seriously. I always wanted to create the something that have the tag "Created by Rajneesh Mishra". But the idea behind creating the blog
                        was to provide a platform where one can even learn and at the same time sharing the experience with others so that they can learn from you as well. Lets learn and teach. Lets grow as an individual having some impact on the society.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about me page ends -->