<!-- to show the blog content  -->

<div class="blog_page">
    <!-- fixed width banner. Will contain the heading and written by section of the blog -->
    <div class="banner_image">
        <!-- <img src="../images/home.jpg" alt="learnWebTech Blogs" /> -->
        <div class="blogs_search">
            <!-- in transparent color we will add different colors which we will decide on the random basis which we will bring it from the json and later on from the database. Currently for testing I am taking an example using the  -->
            <div class="transparentColor colorBlack"></div>
            <div class="home_page_banner_text">
                <p>Internet of Things-Prelude to the Naive Technology</p>
                <p>By - {{results.content_published_by}}</p>
            </div>
        </div>
    </div>
    <!-- fixed width banner ends -->

    <div class="read_more_content" ng-bind-html="results.content | to_trusted">
    </div>
</div>