<!--banner starts here   -->
<div class="blogs_page">
    <!-- home page image with the text -->
    <div class="banner_image">
        <!-- <img src="../images/home.jpg" alt="learnWebTech Blogs" /> -->
        <div class="blogs_search">
            <div class="transparentColor"></div>
            <div class="search_form">
                <input type="search" value="" ng-model="search" name="search" placeholder="Search All Blogs Here !">
                <!-- <button>Search</button> -->
            </div>
        </div>
    </div>
    <!-- banner image ends -->
    <div class="blogs_section container">
        <div class="row">
            <div class="blogs_list_section col-md-8 col-xs-12">
                <!-- <h2>Blogs</h2> -->
                <div class="blogs_list" dir-paginate="data in blogData | filter:search | itemsPerPage:5 ">
                    <div class="blog_image col-md-3 paddingZero" ng-click="gotoState('blog', data.content_url)">
                        <div class="circular_image">
                            <img ng-src="../images/{{data.blog_image}}" />
                        </div>
                    </div>
                    <div class="blog_details col-md-9">
                        <h3 ng-click="gotoState('blog', data.content_url)">{{data.content_title}}</h3>
                        <div class="published_details">
                            <span class="published_date">Posted On <span ng-bind="displayDate(data.content_published_on)"></span></span>
                            <span class="blog_keyowrd">{{data.content_technology}}</span>
                        </div>
                        <p ng-bind-html="getContentForBlogDesc(data.content) | to_trusted"></p>

                        <div class="read_more" ng-click="gotoState('blog', data.content_url)">
                            <span>Read More</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" ng-click="scrollToTop()">
                </dir-pagination-controls>
            </div>
            <div class="recent_blogs_and_tags col-xs-12 col-md-4">
                <div class="recent_blogs_section">
                    <div class="tags_section_heading">
                        <h2>Technologies</h2>
                        <span ng-click="showUnfilteredData()">Clear</span>
                    </div>
                    <div class="blogs_technologies">
                        <ul>
                            <li ng-repeat="tech in allTechnology">
                                <span ng-bind="tech.name" ng-class="{'active': tech.activeStatus == true}" ng-click="filterDataWithTechnology(tech)"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="blogs_tags_section">
                    <div class="tags_section_heading">
                        <h2>Tags</h2>
                        <span ng-click="showUnfilteredData()">Clear</span>
                    </div>

                    <div class="blogs_tags">
                        <p ng-repeat="tag in allTags" ng-class="{'active': tag.activeStatus == true}" ng-bind="tag.name" ng-click="filterDataWithTag(tag)"></p>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- blogs_section div ends -->
    <!-- </div> -->