<!--main page starts here   -->
<div class="blogs_page">
    <!-- home page image with the text -->
    <div class="banner_image">
        <!-- <img src="../images/home.jpg" alt="learnWebTech Blogs" /> -->
        <div class="blogs_search">
            <div class="transparentColor"></div>
            <div class="search_form">
                <input type="search" value="" name="search" placeholder="Search All Blogs Here !">
                <button>Search</button>
            </div>
        </div>
    </div>
    <!-- home page image ends -->
    <div class="blogs_section container">
        <div class="row">
            <div class="blogs_list_section col-md-8 col-xs-12">
                <!-- <h2>Blogs</h2> -->
                <div class="blogs_list" ng-repeat="data in blogData">
                    <div class="blog_image col-md-3 paddingZero" ng-click="gotoState('blog', 'intenet-of-things-prelude-to-the-naive-technology')">
                        <div class="circular_image">
                            <img ng-src="../images/{{data.blog_image}}" />
                        </div>
                    </div>
                    <div class="blog_details col-md-9">
                        <h3 ng-click="gotoState('blog', data.content_url)">{{data.content_title}}</h3>
                        <div class="published_details">
                            <span class="published_date">Posted On <span ng-bind="displayDate(data.content_published_on)"></span></span>
                            <span class="blog_keyowrd">{{data.content_technology}}</span>
                        </div>
                        <p ng-bind-html="getContentForBlogDesc(data.content) | to_trusted"></p>

                        <div class="read_more" ng-click="gotoState('blog', 'intenet-of-things-prelude-to-the-naive-technology')">
                            <span>Read More</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>


                <div class="view_all_blogs read_more" ng-click="gotoState('all_blog')">
                    <span>View All</span>
                </div>
            </div>

            <div class="recent_blogs_and_tags col-xs-12 col-md-4">
                <div class="recent_blogs_section">
                    <div class="recent_blogs">
                        <h2>Technologies</h2>
                    </div>
                </div>
                <div class="blogs_tags_section">
                    <h2>Tags</h2>
                    <div class="blogs_tags">
                        <p>fsdfsdfsd</p>
                        <p>fsdfsdfsd</p>
                        <p>fsdfsdfsd</p>
                        <p>fsdfsdfsd</p>
                        <p>fsdfsdfsd</p>
                        <p>fsdfsdfsd</p>
                        <p>fsdfsdfsd</p>
                        <p>fsdfsdfsd</p>
                        <p>fsdfsdfsd</p>
                        <p>fsdfsdfsd</p>
                        <p>fsdfsdfsd</p>
                        <p>fsdfsdfsd</p>
                        <p>fsdfsdfsd</p>
                        <p>fsdfsdfsd</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blogs_section div ends -->
    <!-- </div> -->