<div class="home_page_content">
    <!-- home page image with the text -->
    <div class="banner_image">
        <!-- <img src="../images/home.jpg" alt="learnWebTech Blogs" /> -->
        <div class="blogs_search">
            <div class="transparentColor"></div>
            <div class="home_page_banner_text">
                <p>Join Us to make a community where we all are <b>Teachers</b> and <b>Students.</b></p>
                <p>Let's learn and grow Together.</p>
            </div>
        </div>
    </div>
    <!-- home page image ends -->

    <div class="why_learnwebTech padding50px">
        <h3>Why LearnWebTech ?</h3>
        <div class="heading_border"></div>
        <div class="learnwebtech_moto">
            <p>"Learn, Share and Grow is what this website is for. We want to make a community where we share our experiences with others so that we all learn and grow together."</p>
        </div>

    </div>

    <div class="latest_stories">
        <h3>Latest Stories - Web Technology</h3>
        <div class="heading_border"></div>
        <div class="latest_stories_content">
            <div class="container_fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="web_technology_stories">
                            <p>Today Rajneesh Mishra and Kewal Sharma launched a website. Go have a look at the them.</p>
                        </div>
                        <div class="stories_date">03/2/2018</div>
                    </div>
                    <div class="col-md-4">
                        <div class="web_technology_stories">
                            <p>Today Rajneesh Mishra and Kewal Sharma launched a website. Go have a look at the them.</p>
                        </div>
                        <div class="stories_date">03/2/2018</div>
                    </div>
                    <div class="col-md-4">
                        <div class="web_technology_stories">
                            <p>Today Rajneesh Mishra and Kewal Sharma launched a website. Go have a look at the them.</p>
                        </div>
                        <div class="stories_date">03/2/2018</div>
                    </div>
                    <div class="col-md-4">
                        <div class="web_technology_stories">
                            <p>Today Rajneesh Mishra and Kewal Sharma launched a website. Go have a look at the them.</p>
                        </div>
                        <div class="stories_date">03/2/2018</div>
                    </div>
                    <div class="col-md-4">
                        <div class="web_technology_stories">
                            <p>Today Rajneesh Mishra and Kewal Sharma launched a website. Go have a look at the them.</p>
                        </div>
                        <div class="stories_date">03/2/2018</div>
                    </div>
                    <div class="col-md-4">
                        <div class="web_technology_stories">
                            <p>Today Rajneesh Mishra and Kewal Sharma launched a website. Go have a look at the them.</p>
                        </div>
                        <div class="stories_date">03/2/2018</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>