<!-- login form starts -->
<div class="loginContainer">
    <div class="loginForm">
        <div class="signupButton" ng-click="gotoState('signup')">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
        <form class="">
            <div class="formField row">
                <!-- <div class="contentContainer col-md-12"><span class="inputContent">Email</span></div> -->
                <div class="inputContainer col-md-12"><input class="inputDesign" name="userName" width="75%" type="text" required>
                    <label class="inputContent" for="userName">Email</label></div>
            </div>
            <div class="formField row">
                <!-- <div class="contentContainer col-md-12"><span class="inputContent">Password</span></div> -->
                <div class="inputContainer col-md-12"><input class="inputDesign" name="password" width="75%" type="text" required>
                    <label class="inputContent" for="password">Password</label></div>
            </div>
            <div class="buttonContainer">
                <button class="submitButton">Submit</button>
                <button class="cancelButton">Cancel</button>
            </div>
        </form>
    </div>
</div>
<!-- login form ends -->