<!-- signup form starts -->
<div class="signupForm formDeActive">
    <form class="signupForm">
        <div class="formField row">
            <div class="contentContainer col-md-3"><span class="inputContent">Name</span></div>
            <div class="inputContainer col-md-9"><input class="inputDesign" width="75%" type="text"></div>
        </div>
        <div class="formField row">
            <div class="contentContainer col-md-3"><span class="inputContent">Password</span></div>
            <div class="inputContainer col-md-9"><input class="inputDesign" width="75%" type="text"></div>
        </div>
        <div class="formField row">
            <div class="contentContainer col-md-3"><span class="inputContent">Re-Password</span></div>
            <div class="inputContainer col-md-9"><input class="inputDesign" width="75%" type="text"></div>
        </div>
        <div class="formField row">
            <div class="contentContainer col-md-3"><span class="inputContent">Email</span></div>
            <div class="inputContainer col-md-9"><input class="inputDesign" width="75%" type="text"></div>
        </div>
        <div class="formField row">
            <div class="contentContainer col-md-3"><span class="inputContent">Organization</span></div>
            <div class="inputContainer col-md-9"><input class="inputDesign" width="75%" type="text"></div>
        </div>
        <div class="formField row">
            <div class="contentContainer col-md-3"><span class="inputContent">Designation</span></div>
            <div class="inputContainer col-md-9"><input class="inputDesign" width="75%" type="text"></div>
        </div>
    </form>
</div>
<!-- signup form ends -->