<!-- signup form starts -->
<div class="signupContainer">
    <div class="signupForm">
        <div class="signupButton" ng-click="gotoState('login')">
            <i class="fa fa-minus" aria-hidden="true"></i>
        </div>
        <form class="">
            <div class="row">
                <div class="formField col-md-6">
                    <!-- <div class="contentContainer col-md-12"><span class="inputContent">Email</span></div> -->
                    <div class="inputContainer col-md-12">
                        <input class="inputDesign" name="userName" width="75%" type="text" required>
                        <label class="inputContent" for="userName">Name</label>
                    </div>
                </div>
                <div class="formField col-md-6">
                    <!-- <div class="contentContainer col-md-12"><span class="inputContent">Email</span></div> -->
                    <div class="inputContainer col-md-12">
                        <input class="inputDesign" name="password" width="75%" type="text" required>
                        <label class="inputContent" for="password">Password</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="formField col-md-6">
                    <!-- <div class="contentContainer col-md-12"><span class="inputContent">Email</span></div> -->
                    <div class="inputContainer col-md-12">
                        <input class="inputDesign" name="re-password" width="75%" type="text" required>
                        <label class="inputContent" for="re-password">Re-Password</label>
                    </div>
                </div>
                <div class="formField col-md-6">
                    <!-- <div class="contentContainer col-md-12"><span class="inputContent">Email</span></div> -->
                    <div class="inputContainer col-md-12">
                        <input type="email" class="inputDesign" name="email" width="75%" type="text" required>
                        <label class="inputContent" for="email">Email</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="formField col-md-6">
                    <!-- <div class="contentContainer col-md-12"><span class="inputContent">Email</span></div> -->
                    <div class="inputContainer col-md-12">
                        <input class="inputDesign" name="organization" width="75%" type="text" required>
                        <label class="inputContent" for="organization">Organization</label>
                    </div>
                </div>
                <div class="formField col-md-6">
                    <!-- <div class="contentContainer col-md-12"><span class="inputContent">Email</span></div> -->
                    <div class="inputContainer col-md-12">
                        <input class="inputDesign" name="designation" width="75%" type="text" required>
                        <label class="inputContent" for="designation">Designation</label>
                    </div>
                </div>
            </div>
            <div class="buttonContainer">
                <button class="submitButton">Submit</button>
                <button class="cancelButton">Cancel</button>
            </div>
        </form>
    </div>
</div>
<!-- signup form ends -->