<div class="view_all_blogs" ng-controller="allBlogsController">
    <!-- banner -->
    <div class="banner_image">
        <!-- <img src="../images/home.jpg" alt="learnWebTech Blogs" /> -->
        <div class="blogs_search">
            <div class="transparentColor"></div>
            <div class="search_form">
                <input type="search" value="" name="search" placeholder="Search All Blogs Here !">
                <button>Search</button>
            </div>
        </div>
    </div>
    <!-- banner ends -->

    <!-- custom carousel -->
    <div class="all_blogs_carousel">
        <div class="blogs_carousel">
            <h2>Angular JS</h2>
            <div class="owl-carousel">
                <div class="blogs_item">
                    <img src="../images/AngularJs.png">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs2.jpg">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs3.png">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs4.jpg">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/custom-directives-in-angularjs.png">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs5.jpg">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs.png">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="blogs_carousel">
            <h2>Angular JS</h2>
            <div class="owl-carousel">
                <div class="blogs_item">
                    <img src="../images/AngularJs.png">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs2.jpg">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs3.png">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs4.jpg">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/custom-directives-in-angularjs.png">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs5.jpg">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs.png">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="blogs_carousel">
            <h2>Angular JS</h2>
            <div class="owl-carousel">
                <div class="blogs_item">
                    <img src="../images/AngularJs.png">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs2.jpg">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs3.png">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs4.jpg">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/custom-directives-in-angularjs.png">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs5.jpg">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs.png">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="blogs_carousel">
            <h2>Angular JS</h2>
            <div class="owl-carousel">
                <div class="blogs_item">
                    <img src="../images/AngularJs.png">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs2.jpg">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs3.png">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs4.jpg">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/custom-directives-in-angularjs.png">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs5.jpg">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs.png">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="blogs_carousel">
            <h2>Angular JS</h2>
            <div class="owl-carousel">
                <div class="blogs_item">
                    <img src="../images/AngularJs.png">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs2.jpg">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs3.png">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs4.jpg">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/custom-directives-in-angularjs.png">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs5.jpg">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
                <div class="blogs_item"> <img src="../images/AngularJs.png">
                    <div class="blogs_item_heading">
                        <h3>Internet of things and prelude of google.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- custom carousel ends -->
</div>